html, body {
    margin: 0;
    height: 100%;
}

#gamecanvas {
    width: 75%;
    height: 100%;
    display: block;
    outline: none;
    margin: 0 auto;
}

.hide {
    display: none;
}

.overlay {
    position: fixed;
    top: 30%;
    left: 30%;
}

.score-container {
    position: fixed;
    left: 3%;
    top: 5%;
}
